body {
    margin: 0 0 0 0;
}

.inicio {
    display: flex;
    flex-direction: column;
    background-image: url("../assets/img/fundo_home.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 -90px 100px 10px rgb(0, 0, 0);
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header {
    position: fixed;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'constantia';
    width: 100%;
    height: 85px;
    border-bottom: 0.1px solid rgba(249, 173, 38, 0.4);
    z-index: 1000;
}

.header .container {
    margin: 0 100px 0 0 !important;
}

.header .logo img {
    width: 180px;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.header ul {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    gap: 25px;
    list-style: none;
    font-size: 15px;
    color: rgba(207, 207, 207, 0.8);
}

.header li:hover {
    color: rgb(249, 173, 38);
}

.header button {
    background-color: rgb(194, 0, 17);
    color: rgb(255, 255, 255);
    font-family: 'constantia';
    font-weight: bold;
    height: 35px;
    width: 90px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header button:hover {
    background-color: rgb(151, 0, 13);
    border: 2px solid rgb(194, 0, 17);
}

.fachada {
    margin-top: 120px;
}

.fachada .container {
    display: flex;
    flex-direction: column;
}

.divisoria {
    width: 200px;
    border: none;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(249, 173, 38), rgba(0, 0, 0, 0));
}

.espacamentoDivisoria {
    margin: 20px 0 50px 0;
}

.fachada h5 {
    letter-spacing: 5px;
    font-family: 'constantia';
    font-size: 16px;
    font-weight: 100;
    color: rgb(249, 173, 38);
    margin: 15px 0 40px 0;
}

.fachada .container h1 {
    font-family: 'constancia';
    color: rgb(255, 255, 255);
    font-size: 130px;
    text-shadow: 5px 0 50px rgb(0, 0, 0);
    margin: -20px 0 0 0;
}

h1 span {
    color: rgb(249, 173, 38);
    margin-left: 10px;

}

.fachada .container p {
    font-family: 'constantia';
    color: rgb(134, 122, 113);
    font-size: 19px;
    margin: 10px 0 0 0;
}

.fachada .container button {
    background-color: rgb(194, 0, 17);
    color: rgb(255, 255, 255);
    font-family: 'constantia';
    font-size: 15px;
    height: 45px;
    width: 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px 0 0 0;
}

.fachada .container button:hover {
    background-color: rgb(151, 0, 13);
    border: 2px solid rgb(194, 0, 17);
}

.saga {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    margin: -25px 0 0 0;

}

.saga .container {
    display: flex;
    flex-direction: row;
    margin: -50px 0 40px 0;
}

.subtitulo {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    font-family: 'constantia';
    font-size: 19px;
    font-weight: 100;
    color: rgb(151, 0, 13);
}

.titulo {
    display: flex;
    justify-content: center;
    margin-top: 0;
    font-family: 'constantia';
    color: rgb(255, 255, 255);
    font-size: 55px;
    text-shadow: 5px 0 50px rgba(151, 0, 13, 0.85);
}

.saga .linhaTempo {
    position: relative;
    display: flex;
    order: 2;
    flex-direction: row;
    justify-content: center;
}

.saga .linha hr {
    width: 1px;
    height: 1100px;
    border: none;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(249, 173, 38), rgba(0, 0, 0, 0));
    margin-top: 100px;
}

.bola {
    position: absolute;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    box-shadow: 0 -2px 40px 1px rgba(249, 173, 38, 0.8);
    background-color: rgb(249, 173, 38);
}

.bola1 {
    top: 17%;
}

.bola2 {
    top: 33%;
}

.bola3 {
    top: 53%;
}

.bola4 {
    top: 70%;
}

.bola5 {
    top: 87%;
}

.saga .container .info1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    order: 1;
    width: 500px;
    height: 1100px;
    margin-left: 50px;
    text-align: right;
    font-family: 'constantia';
    color: white;
}

.saga .container .info2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    order: 3;
    width: 500px;
    height: 900px;
    margin-right: 50px;
    text-align: left;
    font-family: 'constantia';
    color: white;
}

.saga .container p {
    color: rgba(134, 122, 113);
    font-size: 15px;
}

.saga .container h2 {
    color: rgb(101, 71, 19);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.saga .container h3 {
    color: rgb(255, 255, 255);
    font-size: 23px;
}

.saga .container h4 {
    color: rgb(151, 0, 13);
    font-size: 15px;
}

.saga .container .espacamentoGow {
    margin-top: -10px;
}

.gow {
    margin-top: 80px;
}

.personagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1400px;
    background-color: rgb(6, 7, 11);
    box-shadow: inset 0 100px 100px 10px rgba(0, 0, 0, 0.7);
    
}

.personagens h1 {
    color: rgb(255, 255, 255);
    font-family: 'constantia';
    font-size: 55px;
    margin-top: -10px;
}

.personagens p {
    color: rgba(134, 122, 113);
    font-size: 17px;
    margin-top: -15px;
}

.personagens .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    justify-items: center;
    place-items: center;
}

.alcunha {
    margin: 30% 0 0 5%;
    font-family: 'constantia';
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 2px;
    color: rgb(249, 173, 38);
    transition: 1.5s;
}

.nome {
    margin: 5px 0 0 5%;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.personagens .container p {
    margin: 5px 0 2px 5%;
    font-size: 16px;
    color: rgba(0, 0, 0, 0);
    pointer-events: none;
    transition: 1s;
}

.kratos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 400px;
    height: 450px;
    background-color: rgb(14, 16, 26);
    border: 2px solid rgba(151, 0, 13, 0.4);
    margin-bottom: 60px;
    transition: 1s;
}

.kratos:hover {
    border: 2px solid rgba(255, 5, 26, 0.5);
    background-image: url("../assets/img/cards/fundo_kratos_card.png");
    background-size: cover;
    background-position: center;
}

.kratos img {
    width: 350px;
    transition: 1.5s;
}

.kratos:hover img {
    margin-top: -70px;
}

.kratos .textoKratos {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(14, 16, 26), rgb(14, 16, 26));
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
    transition: 1s;
}

.kratos:hover .textoKratos {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(144, 3, 8), rgb(144, 3, 8));
    height: 330px;
    transition: 0.8s;
}

.kratos:hover .alcunha {
    margin-top: 43%;
}

.personagens .container .kratos:hover p {
    margin: 5px 0 2px 5%;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.atreus {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 400px;
    height: 450px;
    background-color: rgb(14, 16, 26);
    border: 2px solid rgba(253, 195, 69, 0.4);
    margin-bottom: 60px;
    transition: 1s;
}

.atreus:hover {
    border: 2px solid rgba(253, 195, 69, 0.8);
    background-image: url("../assets/img/cards/fundo_atreus_card.png");
    background-size: cover;
    background-position: center;
}

.atreus img {
    width: 380px;
    transition: 1.5s;
}

.atreus:hover img {
    margin-top: -120px;
}

.atreus .textoAtreus {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(14, 16, 26), rgb(14, 16, 26));
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
    transition: 1s;
}

.atreus:hover .textoAtreus {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(199, 129, 6), rgb(199, 129, 6));
    height: 330px;
    transition: 0.8s;
}

.atreus:hover .alcunha {
    margin-top: 43%;
    color: rgb(255, 255, 255);
}

.personagens .container .atreus:hover p {
    margin: 5px 0 2px 5%;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.mimir {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 400px;
    height: 450px;
    background-color: rgb(14, 16, 26);
    border: 2px solid rgba(170, 187, 52, 0.4);
    margin-bottom: 60px;
    transition: 1s;
}

.mimir:hover {
    border: 2px solid rgba(212, 240, 33, 0.8);
    background-image: url("../assets/img/cards/fundo_mimir_card.png");
    background-size: cover;
    background-position: center;
}

.mimir img {
    width: 180px;
    transition: 1.5s;
}

.mimir:hover img {
    margin-top: -120px;
}

.mimir .textoMimir {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(14, 16, 26), rgb(14, 16, 26));
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
    transition: 1s;
}

.mimir:hover .textoMimir {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(112, 142, 24), rgb(112, 142, 24));
    height: 330px;
    transition: 0.8s;
}

.mimir:hover .alcunha {
    margin-top: 43%;
}

.personagens .container .mimir:hover p {
    margin: 5px 0 2px 5%;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.freya {
    display: flex;
    align-items: center;
    position: relative;
    width: 400px;
    height: 450px;
    background-color: rgb(14, 16, 26);
    border: 2px solid rgba(146, 29, 136, 0.4);
    margin-bottom: 60px;
    transition: 1s;
}

.freya:hover {
    border: 2px solid rgba(228, 45, 212, 0.8);
    background-image: url("../assets/img/cards/fundo_freya_card.png");
    background-size: cover;
    background-position: center;
}

.freya img {
    margin: 10px 0 0 120px;
    width: 180px;
    transition: 1.5s;
}

.freya:hover img {
    margin-top: -150px;
}

.freya .textoFreya {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(14, 16, 26), rgb(14, 16, 26));
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
    transition: 1s;
}

.freya:hover .textoFreya {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(112, 29, 115), rgb(112, 29, 115));
    height: 330px;
    transition: 0.8s;
}

.freya:hover .alcunha {
    margin-top: 43%;
}

.personagens .container .freya:hover p {
    margin: 5px 0 2px 5%;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.odin {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 400px;
    height: 450px;
    background-color: rgb(14, 16, 26);
    border: 2px solid rgba(56, 28, 11, 0.5);
    margin-bottom: 60px;
    transition: 1s;
}

.odin:hover {
    border: 2px solid rgba(194, 100, 41, 0.8);
    background-image: url("../assets/img/cards/fundo_odin_card.png");
    background-size: cover;
    background-position: center;
}

.odin img {
    margin: 10px 0 0 0;
    width: 280px;
    transition: 1.5s;
}

.odin:hover img {
    margin-top: -150px;
}

.odin .textoOdin {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(14, 16, 26), rgb(14, 16, 26));
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
    transition: 1s;
}

.odin:hover .textoOdin {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(100, 51, 20), rgb(100, 51, 20));
    height: 330px;
    transition: 0.8s;
}

.odin:hover .alcunha {
    margin-top: 43%;
}

.personagens .container .odin:hover p {
    margin: 5px 0 2px 5%;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.thor {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 400px;
    height: 450px;
    background-color: rgb(14, 16, 26);
    border: 2px solid rgba(33, 72, 110, 0.4);
    margin-bottom: 60px;
    transition: 1s;
}

.thor:hover {
    border: 2px solid rgba(115, 179, 243, 0.8);
    background-image: url("../assets/img/cards/fundo_thor_card.png");
    background-size: cover;
    background-position: center;
}

.thor img {
    margin: 10px 0 0 0;
    width: 290px;
    transition: 1.5s;
}

.thor:hover img {
    margin-top: -100px;
}

.thor .textoThor {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(14, 16, 26), rgb(14, 16, 26));
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
    transition: 1s;
}

.thor:hover .textoThor {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(52, 105, 159), rgb(52, 105, 159));
    height: 330px;
    transition: 0.8s;
}

.thor:hover .alcunha {
    margin-top: 43%;
}

.personagens .container .thor:hover p {
    margin: 5px 0 2px 5%;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.arsenal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -5px;
    background-image: url("../assets/img/fundo_arsenal.png");
    box-shadow: inset  0 70px 50px 30px rgb(6, 7, 11);
    
}

.arsenal h4 {
    color: rgb(151, 0, 13);
    font-size: 19px;
    margin: 20px 0 5px 0;
}

.arsenal h1 {
    text-shadow: none;
}

.arsenal .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    justify-items: center;
    place-items: center;
}