body {
    margin: 0;
}

.inicio {
    background-image: url("../assets/img/fundo_home.png");
    width: 100%;
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 -60px 80px 210px rgba(0,0,0,0.750);
}

.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'constantia';
    width: 100%;
    border-bottom: 10px solid #d3af37;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .logo img{
    width: 150px;
    display: flex;
    justify-content: center;
}

.header ul {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    gap: 25px;
    list-style: none;
    font-size: 15px;
    color: rgba(207, 207, 207, 0.8);
}

.header li:hover{
    color:rgb(249, 173, 38);
}

.header button {
    background-color: rgb(194, 0, 17);
    color: rgb(255, 255, 255);
    font-family: 'constantia';
    font-weight: bold;
    height: 35px;
    width: 90px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header button:hover {
    background-color: rgb(151, 0, 13);
}

