body {
    margin: 0 0 0 0;
    transition: 1.8s;
}

.inicio {
    display: flex;
    flex-direction: column;
    background-image: url("../assets/img/background/fundo_home.png");
    width: 100%;
    height: 100vh;
    background-size: 102%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 -90px 100px 10px rgb(0, 0, 0);
    transition: 3s;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header {
    position: fixed;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.96);
    font-family: 'constantia';
    width: 100%;
    height: 85px;
    border-bottom: 0.1px solid rgba(249, 173, 38, 0.4);
    z-index: 1000;
}

.header .container {
    margin: 0 100px 0 0 !important;
}

.logo {
    width: 180px;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.header ul {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    gap: 25px;
    list-style: none;
    font-size: 15px;
    color: rgba(207, 207, 207, 0.8);
}

li {
    transition: 0.5s;
}

.header li:hover {
    color: rgb(249, 173, 38);
}

.header button {
    background-color: rgb(194, 0, 17);
    color: rgb(255, 255, 255);
    font-family: 'constantia';
    font-weight: bold;
    height: 35px;
    width: 90px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-entrar:hover {
    background-color: rgb(151, 0, 13);
    border: 2px solid rgb(194, 0, 17);
}

.inicio:has(.btn-entrar:hover) {
    background-size: 130%;
    box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.7);
}

.fachada {
    margin-top: 85px;
    overflow: hidden;
}

.fachada .container {
    display: flex;
    flex-direction: column;
    transition: 3s;
}

.divisoria {
    width: 200px;
    border: none;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(249, 173, 38), rgba(0, 0, 0, 0));
}

.fachada .divisoria {
    margin-top: 35px;
}

.espacamentoDivisoria {
    margin: 20px 0 50px 0;
}

.fachada h5 {
    letter-spacing: 5px;
    font-family: 'constantia';
    font-size: 16px;
    font-weight: 100;
    color: rgb(249, 173, 38);
    margin: 15px 0 40px 0;
}

.fachada .container h1 {
    font-family: 'constancia';
    color: rgb(255, 255, 255);
    font-size: 130px;
    text-shadow: 5px 0 50px rgb(0, 0, 0);
    margin: -20px 0 0 0;
}

h1 span {
    color: rgb(249, 173, 38);
    margin-left: 10px;

}

.fachada .container p {
    font-family: 'constantia';
    color: rgb(134, 122, 113);
    font-size: 19px;
    margin: 10px 0 0 0;
}

.fachada .container button {
    background-color: rgb(194, 0, 17);
    color: rgb(255, 255, 255);
    font-family: 'constantia';
    font-size: 15px;
    height: 45px;
    width: 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px 0 0 0;
}

.fachada .container button:hover {
    background-color: rgb(151, 0, 13);
    border: 2px solid rgb(194, 0, 17);
}

.inicio:has(.btn-saga:hover) {
    background-size: 130%;
    box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.7);
}

.banner {
    display: none;
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: 85px;
    transition: 0.7s;
    overflow: hidden;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.banner .container::after {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: inset 0 0 100px 100vh rgba(0, 0, 0, 0.8),
        inset 0 -150px 80px rgb(0, 0, 0);
    transition: 3s;
}

.conteudo {
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
    width: 100%;
    height: 100vh;
}

.back-img {
    position: absolute;
    width: 50px;
    height: 50px;
    user-select: none;
}

.back-img:hover {
    filter: brightness(1.1);
    width: 52px;
    height: 52px;
}

.conteudo .btn-voltar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    left: 15px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: none;
    pointer-events: auto;
    cursor: pointer;
}

.conteudo .container-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container-btn button {
    background-color: rgba(0, 0, 0, 0);
    width: 250px;
    height: 120px;
    border: none;
    margin-bottom: 200px;
    border-radius: 10px;
    background-size: 100%;
    background-position: center;
    cursor: pointer;
    transition: 3s;
}

.container-btn button:hover {
    background-size: 110%;
}

.gowI {
    background-image: url('../assets/img/background/fundoBtn_gow.png');
    background-repeat: no-repeat;
}

.gowII {
    background-image: url('../assets/img/background/fundoBtn_gowII.png');
    background-repeat: no-repeat;
}

.gowIII {
    background-image: url('../assets/img/background/fundoBtn_gowIII.png');
    background-repeat: no-repeat;
}

.gow18 {
    background-image: url('../assets/img/background/fundoBtn_gow18.png');
    background-repeat: no-repeat;
}

.gowRag {
    background-image: url('../assets/img/background/fundoBtn_gowRag.png');
    background-repeat: no-repeat;
}

.pop-up {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    inset: 0;
    margin: auto;
    width: 80%;
    height: 90%;
    background-color: rgba(14, 16, 26);
    border: 2px solid rgba(33, 72, 110, 0.4);
    border-radius: 15px;
    overflow-y: auto;
}

.pop-up h3 {
    font-size: 25px;
    font-family: 'constantia';
    color: rgb(249, 173, 38);
    margin-top: 40px;
}

.pop-up h6 {
    font-size: 20px;
    font-family: 'constantia';
    color: rgb(151, 0, 13);
}

.pop-up .divisoria {
    margin: -20px 0 30px 0;
}

.texto-popup {
    text-align: center;
    margin: -15px 20px auto 20px;
    font-family: 'constantia';
    font-size: 19px;
    line-height: 1.3;
    margin-top: 30px;
    margin-bottom: 5px;
}

.cards-popup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    place-items: center;
    margin-top: 15px;
    width: 100%;
    box-shadow: inset 0 -100px 70px -45px rgb(0, 0, 0);
    gap: 100px;
}

.container-armas-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
}

.armas-popup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    gap: 100px;
    width: 100%;
    gap: 0;
}

.pop-up .voltar {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    left: 153px;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}

.pop-up .voltar:hover {
    font-size: 15px;
}

.popup-fundo {
    flex-shrink: 0;
    box-shadow: inset 0 -85px 50px rgb(14, 16, 26);
    background-size: cover;
    background-position: top;
    margin-top: -10px;
    width: 100%;
    height: 65vh;
}

.fundoGow1 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(14, 16, 26, 0.5), rgba(14, 16, 26, 0.9)), url("../assets/img/background/fundo_gow1.png");
}

.fundoGow2 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(14, 16, 26, 0.5), rgba(14, 16, 26, 0.9)), url("../assets/img/background/fundo_gow2.png");
}

.fundoGow3 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(14, 16, 26, 0.5), rgba(14, 16, 26, 0.9)), url("../assets/img/background/fundo_gow3.png");
}

.fundoGow18 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(14, 16, 26, 0.5), rgba(14, 16, 26, 0.9)), url("../assets/img/background/fundo_gow18.png");
}

.fundoGowRag {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(14, 16, 26, 0.5), rgba(14, 16, 26, 0.9)), url("../assets/img/background/fundo_gowRag.png");
}

.saga {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    margin: -25px 0 0 0;
}

.saga .container {
    display: flex;
    flex-direction: row;
    margin: -50px 0 40px 0;
}

.subtitulo {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    font-family: 'constantia';
    font-size: 19px;
    font-weight: 100;
    color: rgb(151, 0, 13);
}

.titulo {
    display: flex;
    justify-content: center;
    margin-top: 0;
    font-family: 'constantia';
    color: rgb(255, 255, 255);
    font-size: 55px;
    text-shadow: 5px 0 50px rgba(151, 0, 13, 0.85);
}

.saga .linhaTempo {
    position: relative;
    display: flex;
    order: 2;
    flex-direction: row;
    justify-content: center;
}

.saga .linha hr {
    width: 1px;
    height: 1100px;
    border: none;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(249, 173, 38), rgba(0, 0, 0, 0));
    margin-top: 100px;
}

.bola {
    position: absolute;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    box-shadow: 0 -2px 40px 1px rgba(249, 173, 38, 0.8);
    background-color: rgb(249, 173, 38);
}

.bola1 {
    top: 17%;
}

.bola2 {
    top: 33%;
}

.bola3 {
    top: 53%;
}

.bola4 {
    top: 70%;
}

.bola5 {
    top: 87%;
}

.saga .container .info1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    order: 1;
    width: 500px;
    height: 1100px;
    margin-left: 50px;
    text-align: right;
    font-family: 'constantia';
    color: white;
}

.saga .container .info2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    order: 3;
    width: 500px;
    height: 900px;
    margin-right: 50px;
    text-align: left;
    font-family: 'constantia';
    color: white;
}

.saga .container p {
    color: rgba(134, 122, 113);
    font-size: 15px;
}

.saga .container h2 {
    color: rgb(101, 71, 19);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.saga .container h3 {
    color: rgb(255, 255, 255);
    font-size: 23px;
}

.saga .container h4 {
    color: rgb(151, 0, 13);
    font-size: 15px;
}

.saga .container .espacamentoGow {
    margin-top: -10px;
}

.gow {
    margin-top: 80px;
}

.personagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: rgb(6, 7, 11);
    box-shadow: inset 0 100px 70px 10px rgba(0, 0, 0, 0.7);
}

.personagens h1 {
    color: rgb(255, 255, 255);
    font-family: 'constantia';
    font-size: 55px;
    margin-top: -10px;
}

.personagens p {
    color: rgba(134, 122, 113);
    font-size: 17px;
    margin-top: -15px;
    transition: 2s;
}

.personagens .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    justify-items: center;
    place-items: center;
}

.alcunha {
    margin: 30% 0 0 5%;
    font-family: 'constantia';
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 2px;
    color: rgb(249, 173, 38);
    transition: 1.5s;
}

.nome {
    margin: 5px 0 0 5%;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.personagens .container .card p {
    margin: 5px 3% 2px 5%;
    font-size: 16px;
    color: rgba(0, 0, 0, 0);
    transition: 1s;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 380px;
    height: 430px;
    background-color: rgb(14, 16, 26);
    margin-bottom: 60px;
    user-select: none;
    transition: 1s;
}

.card .textoCard {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(14, 16, 26), rgb(14, 16, 26));
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
    transition: 1s;
    overflow: hidden;
}

.card:hover img {
    margin-top: -100px;
}

.card:hover .alcunha {
    margin-top: 43%;
}

.personagens .container .card:hover p {
    margin: 5px 3% 2px 5%;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.cards-popup p {
    margin: 5px 3% 2px 5%;
    font-size: 16px;
    color: rgba(0, 0, 0, 0);
    transition: 1s;
}

.cards-popup .card:hover p {
    margin: 5px 3% 2px 5%;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.kratos {
    border: 2px solid rgba(151, 0, 13, 0.4);
}

.kratos:hover {
    border: 2px solid rgba(255, 5, 26, 0.5);
    background-image: url("../assets/img/cards/fundo_kratos_card.png");
    box-shadow: inset 0 0 40px 100vh rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: center;
}

.kratos img {
    width: 320px;
    pointer-events: none;
    transition: 1.5s;
}


.kratos:hover .textoCard {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(144, 3, 8), rgb(144, 3, 8));
    height: 330px;
    transition: 0.8s;
}

.atreus {
    border: 2px solid rgba(253, 195, 69, 0.4);
}

.atreus:hover {
    border: 2px solid rgba(253, 195, 69, 0.8);
    background-image: url("../assets/img/cards/fundo_atreus_card.png");
    box-shadow: inset 0 0 40px 100vh rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: center;
}

.atreus img {
    width: 270px;
    pointer-events: none;
    transition: 1.5s;
}

.atreus:hover .textoCard {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(199, 129, 6), rgb(199, 129, 6));
    height: 330px;
    transition: 0.8s;
}

.atreus:hover .alcunha {
    color: rgb(255, 255, 255);
}

.mimir {
    border: 2px solid rgba(170, 187, 52, 0.4);
}

.mimir:hover {
    border: 2px solid rgba(212, 240, 33, 0.8);
    background-image: url("../assets/img/cards/fundo_mimir_card.png");
    box-shadow: inset 0 0 40px 100vh rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: center;
}

.mimir img {
    width: 170px;
    pointer-events: none;
    transition: 1.5s;
}

.mimir:hover .textoCard {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(112, 142, 24), rgb(112, 142, 24));
    height: 330px;
    transition: 0.8s;
}

.freya {
    border: 2px solid rgba(146, 29, 136, 0.4);
}

.freya:hover {
    border: 2px solid rgba(228, 45, 212, 0.8);
    background-image: url("../assets/img/cards/fundo_freya_card.png");
    box-shadow: inset 0 0 40px 100vh rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: center;
}

.freya img {
    margin: 10px 0 0 0;
    width: 220px;
    pointer-events: none;
    transition: 1.5s;
}

.freya:hover .textoCard {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(112, 29, 115), rgb(112, 29, 115));
    height: 330px;
    transition: 0.8s;
}

.brok {
    border: 2px solid rgba(240, 138, 37, 0.4);
}

.brok:hover {
    border: 2px solid rgba(243, 136, 28, 0.8);
    background-image: url("../assets/img/cards/fundo_brok_card.png");
    box-shadow: inset 0 0 40px 100vh rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: center;
}

.brok img {
    margin: 10px 0 0 0;
    width: 250px;
    pointer-events: none;
    transition: 1.5s;
}

.brok:hover .textoCard {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(100, 68, 37), rgb(100, 68, 37));
    height: 330px;
    transition: 0.8s;
}

.sindri {
    border: 2px solid rgba(182, 182, 182, 0.4);
}

.sindri:hover {
    border: 2px solid rgba(193, 193, 193, 0.8);
    background-image: url("../assets/img/cards/fundo_sindri_card.png");
    box-shadow: inset 0 0 40px 100vh rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: center;
}

.sindri img {
    margin: 10px 0 0 0;
    width: 200px;
    pointer-events: none;
    transition: 1.5s;
}

.sindri:hover .textoCard {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(118, 119, 118), rgb(118, 119, 118));
    height: 330px;
    transition: 0.8s;
}

.odin {
    border: 2px solid rgba(56, 28, 11, 0.5);
}

.odin:hover {
    border: 2px solid rgba(194, 100, 41, 0.8);
    background-image: url("../assets/img/cards/fundo_odin_card.png");
    box-shadow: inset 0 0 40px 100vh rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: center;
}

.odin img {
    margin: 10px 0 0 0;
    width: 370px;
    pointer-events: none;
    transition: 1.5s;
}

.odin:hover .textoCard {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(100, 51, 20), rgb(100, 51, 20));
    height: 330px;
    transition: 0.8s;
}

.thor {
    border: 2px solid rgba(33, 72, 110, 0.4);
}

.thor:hover {
    border: 2px solid rgba(115, 179, 243, 0.8);
    background-image: url("../assets/img/cards/fundo_thor_card.png");
    box-shadow: inset 0 0 40px 100vh rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: center;
}

.thor img {
    margin: 10px 0 0 20px;
    width: 370px;
    pointer-events: none;
    transition: 1.5s;
}

.thor:hover .textoCard {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(52, 105, 159), rgb(52, 105, 159));
    height: 330px;
    transition: 0.8s;
}

.ares {
    border: 2px solid rgba(160, 0, 0, 0.4);
}

.ares:hover {
    border: 2px solid rgba(218, 0, 0, 0.8);
    background-image: url("../assets/img/cards/fundo_ares_card.png");
    box-shadow: inset 0 0 40px 100vh rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: center;
}

.ares img {
    margin: 10px 0 0 20px;
    width: 290px;
    pointer-events: none;
    transition: 1.5s;
}

.ares:hover .textoCard {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(63, 14, 14), rgb(63, 14, 14));
    height: 330px;
    transition: 0.8s;
}

.athena {
    border: 2px solid rgba(187, 185, 185, 0.4);
}

.athena:hover {
    border: 2px solid rgba(255, 255, 255, 0.8);
    background-image: url("../assets/img/cards/fundo_athena_card.png");
    box-shadow: inset 0 0 40px 100vh rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: center;
}

.athena img {
    margin: 10px 0 0 20px;
    width: 320px;
    pointer-events: none;
    transition: 1.5s;
}

.athena:hover .textoCard {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(118, 119, 118), rgb(118, 119, 118));
    height: 330px;
    transition: 0.8s;
}

.zeus {
    border: 2px solid rgba(43, 74, 121, 0.4);
}

.zeus:hover {
    border: 2px solid rgba(74, 213, 255, 0.8);
    background-image: url("../assets/img/cards/fundo_zeus_card.png");
    box-shadow: inset 0 0 40px 100vh rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: center;
}

.zeus img {
    margin: 10px 0 0 20px;
    width: 320px;
    pointer-events: none;
    transition: 1.5s;
}

.zeus:hover .textoCard {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(109, 158, 173), rgb(109, 158, 173));
    height: 330px;
    transition: 0.8s;
}

.irmas {
    border: 2px solid rgba(43, 74, 121, 0.4);
}

.irmas:hover {
    border: 2px solid rgba(255, 255, 255, 0.8);
    background-image: url("../assets/img/cards/fundo_irmas_card.png");
    box-shadow: inset 0 0 40px 100vh rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: center;
}

.irmas img {
    margin: 10px 0 0 20px;
    width: 320px;
    pointer-events: none;
    transition: 1.5s;
}

.irmas:hover .textoCard {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(73, 73, 73), rgb(73, 73, 73));
    height: 330px;
    transition: 0.8s;
}

.hades {
    border: 2px solid rgba(145, 46, 72, 0.4);
}

.hades:hover {
    border: 2px solid rgba(156, 61, 86, 0.8);
    background-image: url("../assets/img/cards/fundo_hades_card.png");
    box-shadow: inset 0 0 40px 100vh rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: center;
}

.hades img {
    margin: 10px 0 0 20px;
    width: 350px;
    pointer-events: none;
    transition: 1.5s;
}

.hades:hover .textoCard {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(68, 30, 40), rgb(68, 30, 40));
    height: 330px;
    transition: 0.8s;
}

.poseidon {
    border: 2px solid rgba(49, 156, 185, 0.4);
}

.poseidon:hover {
    border: 2px solid rgba(55, 181, 216, 0.8);
    background-image: url("../assets/img/cards/fundo_poseidon_card.png");
    box-shadow: inset 0 0 40px 100vh rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: center;
}

.poseidon img {
    margin: 10px 0 0 20px;
    width: 280px;
    pointer-events: none;
    transition: 1.5s;
}

.poseidon:hover .textoCard {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(16, 52, 62), rgb(16, 52, 62));
    height: 330px;
    transition: 0.8s;
}

.gaia {
    border: 2px solid rgba(52, 49, 11, 0.4);
}

.gaia:hover {
    border: 2px solid rgba(131, 123, 14, 0.8);
    background-image: url("../assets/img/cards/fundo_gaia_card.png");
    box-shadow: inset 0 0 40px 100vh rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: center;
}

.gaia img {
    margin: 10px 0 0 20px;
    width: 230px;
    pointer-events: none;
    transition: 1.5s;
}

.gaia:hover .textoCard {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(52, 49, 11), rgb(52, 49, 11));
    height: 330px;
    transition: 0.8s;
}

.baldur {
    border: 2px solid rgba(77, 218, 238, 0.4);
}

.baldur:hover {
    border: 2px solid rgba(103, 237, 255, 0.8);
    background-image: url("../assets/img/cards/fundo_baldur_card.png");
    box-shadow: inset 0 0 40px 100vh rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: center;
}

.baldur img {
    margin: 10px 0 0 20px;
    width: 230px;
    pointer-events: none;
    transition: 1.5s;
}

.baldur:hover .textoCard {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(43, 151, 165), rgb(43, 151, 165));
    height: 330px;
    transition: 0.8s;
}

.magni-modi {
    border: 2px solid rgba(14, 141, 88, 0.4);
}

.magni-modi:hover {
    border: 2px solid rgba(2, 133, 156, 0.8);
    background-image: url("../assets/img/cards/fundo_magniModi_card.png");
    box-shadow: inset 0 0 40px 100vh rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: center;
}

.magni-modi img {
    margin: 10px 0 0 20px;
    width: 350px;
    pointer-events: none;
    transition: 1.5s;
}

.magni-modi:hover .textoCard {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(12, 42, 55), rgb(12, 42, 55));
    height: 330px;
    transition: 0.8s;
}

.arsenal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -5px;
    background-image: url("../assets/img/background/fundo_arsenal.png");
    box-shadow: inset 0 65px 40px rgb(6, 7, 11),
        inset 0 -100px 40px rgb(0, 0, 0),
        inset 0 0 100px 100vh rgba(0, 0, 0, 0.4);
}

.arsenal .subtitulo {
    color: rgb(84, 169, 208);
    font-size: 19px;
    margin: -50px 0 5px 0;
}

.arsenal h1 {
    text-shadow: none;
}

.arsenal .nome {
    margin-top: 57px;
}

.arsenal .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    justify-items: center;
    place-items: center;
    margin-bottom: -50px;
}

.arsenal .container p {
    margin: 25px 5% 2px 5%;
    text-align: center;
    font-size: 15px;
    color: rgba(0, 0, 0, 0);
}

.armas-popup p {
    margin: 25px 5% 2px 5%;
    text-align: center;
    font-size: 15px;
    color: rgba(0, 0, 0, 0);
}

.cardArma {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 380px;
    height: 410px;
    background-color: rgba(14, 16, 26, 0.75);
    border: 2px solid rgba(33, 72, 110, 0.4);
    box-shadow: 0 0 100px -30px rgba(249, 173, 38, 0.2);
    margin: 30px auto 80px auto;
    border-radius: 10px;
    user-select: none;
    transition: 1.5s;
    overflow: hidden;
}

.cardArma:hover img {
    margin-top: -60px;
}

.cardArma .textoCardArma {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(14, 16, 26), rgb(14, 16, 26));
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    transition: 1s;
    overflow: hidden;
}

.cardArma:hover .textoCardArma {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(14, 16, 26), rgb(14, 16, 26));
    height: 200px;
}

.cardArma .textoCardArma .nome {
    transition: 1.5s;
}

.cardArma:hover .textoCardArma .nome {
    color: rgba(0, 0, 0, 0);
}

.arsenal .container .cardArma:hover p {
    margin: 25px 5% 2px 5%;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
    color: rgb(175, 159, 147);
}

.armas-popup .cardArma:hover p {
    margin: 25px 5% 2px 5%;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
    color: rgb(175, 159, 147);
}

.armas-popup .cardArma .nome {
    margin: 50px 0 0 5%;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.cardArma:hover {
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 40px 100vh rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: center;
}

.leviata:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../assets/img/cards/fundo_leviata_card.png");
}

.leviata img {
    margin: 10px 0 0 0;
    width: 210px;
    pointer-events: none;
    transition: 1.5s;
}

.laminas:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../assets/img/cards/fundo_laminas_card.png");
}

.laminas img {
    margin: 10px 0 0 0;
    width: 280px;
    pointer-events: none;
    transition: 1.5s;
}

.draupnir:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../assets/img/cards/fundo_draupnir_card.png");
}

.draupnir img {
    margin: 10px 0 0 0;
    width: 350px;
    pointer-events: none;
    transition: 1.5s;
}

.lamina-artemis:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../assets/img/cards/fundo_laminaArtemis_card.png");
}

.lamina-artemis img {
    margin: 10px 0 0 0;
    width: 350px;
    pointer-events: none;
    transition: 1.5s;
}

.lamina-olimpo:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../assets/img/cards/fundo_laminaOlimpo_card.png");
}

.lamina-olimpo img {
    margin: 10px 0 0 0;
    width: 235px;
    pointer-events: none;
    transition: 1.5s;
}

.cabeca:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../assets/img/cards/fundo_cabeca_card.png");
}

.cabeca img {
    margin: 10px 0 0 0;
    width: 300px;
    pointer-events: none;
    transition: 1.5s;
}

.laminas-athena:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../assets/img/cards/fundo_laminasAthena_card.png");
}

.laminas-athena img {
    margin: 10px 0 0 0;
    width: 350px;
    pointer-events: none;
    transition: 1.5s;
}

.laminas-exilio:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../assets/img/cards/fundo_laminasExilio_card.png");
}

.laminas-exilio img {
    margin: 10px 0 0 0;
    width: 400px;
    pointer-events: none;
    transition: 1.5s;
}

.garras:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../assets/img/cards/fundo_garras_card.png");
}

.garras img {
    margin: 10px 0 0 0;
    width: 350px;
    pointer-events: none;
    transition: 1.5s;
}

.cestus:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../assets/img/cards/fundo_cestus_card.png");
}

.cestus img {
    margin: 10px 0 0 0;
    width: 420px;
    pointer-events: none;
    transition: 1.5s;
}

.chicote:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../assets/img/cards/fundo_chicote_card.png");
}

.chicote img {
    margin: 10px 0 0 0;
    width: 385px;
    pointer-events: none;
    transition: 1.5s;
}

.footer {
    display: flex;
    flex-direction: column;
    height: 45vh;
    padding: 40px;
    background-color: rgb(5, 6, 9);
    border-top: 1px solid rgba(249, 173, 38, 0.1);
}

.footer p {
    text-align: left;
    font-family: 'constantia';
    font-size: 13px;
    line-height: 1.8;
    color: rgb(175, 159, 147);
    margin-top: 2px;
}

.footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 150px;
}

.footer h6 {
    font-size: 18px;
    font-family: 'constantia';
    font-weight: 100;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
    margin: 10px 0 15px 0;
}

.fraseFooter {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.fraseFooter img {
    width: 170px;
}

.navFooter {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
}

.navFooter ul {
    list-style: none;
    padding: 0;
    line-height: 1.8;
    font-family: 'constantia';
    font-size: 14px;
    font-weight: 100;
    color: rgb(175, 159, 147);
    margin: 10px 0 0 0;
}

.navFooter li:hover {
    color: rgb(249, 173, 38);
}

.sobreFooter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

.sobreFooter p {
    display: flex;
    flex-direction: column;
    line-height: 1.8;
}

.footer .divisoria {
    margin: 50px auto 20px auto;
    width: 100%;
}

.copyright {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}