body {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    border-bottom: solid 1px rgba(249, 173, 38, 0.2);
}

.conteudo-secao {
    background: linear-gradient(to bottom right, rgb(24, 0, 2), rgb(22, 6, 6), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
    width: auto;
    height: 100vh;
}

.logo {
    width: 200px;
}

.container-btn ul {
    display: flex;
    flex-direction: row;
    font-family: 'constantia';
}

.container-btn li {
    padding: 10px;
    list-style: none;
    transition: 1s;
}

.link-hub a {
    text-decoration: none;
    color: rgb(175, 159, 147);
    padding: 15px;
    transition: 1s;
}

.link-hub .runa {
    opacity: 0;
    transition: 1s;
    margin-right: 10px;
}

.link-hub:hover a {
    background: linear-gradient(to bottom, rgba(249, 173, 38, 0), rgba(249, 173, 38, 0.06), rgba(0, 0, 0, 0));
    color: rgb(255, 255, 255);
}

.link-hub:hover .runa {
    color: rgba(249, 173, 38, 0.4);
    opacity: 1;
}

.agora a{
    color: rgb(249, 173, 38) !important;
    padding: 15px;
    text-decoration: none;
    background-image: linear-gradient(to right, rgba(249, 173, 38, 0), rgb(249, 173, 38), rgba(249, 173, 38, 0));
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-position: 0 90%;
}

.agora span {
    color: rgb(249, 173, 38) !important;
    margin-right: 10px;
}